.button, .date {
    width: 100px;
}

.category-select, .project-select, .activity-select, .allocation-select {
    display: table-row;
}

.task-select {
    display: table-row;
}

.select-label, .select-form {
    display: table-cell;
}

.task-table {
    display: table;
    float: left;
}

textarea {
    width: 200px;
}

.comment {
    display: table-row;
    /*clear: left;*/
}

.comment-label, #comment {
    display: table-cell;
}

.jnt-picker {
    display: table-row;
}

.user {
    display: table-row;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #cccccc;
}

th {
    padding: 5px;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

.red {
    background-color: red;
}

.daily-sumup {
    min-width: 400px;
}

.selected {
    background-color: yellow;
}